{% extends 'base.html' %}

{% block head %}
<title>{{ question.topic.name }} {{ question.question_points }}</title>
{% endblock %}


{% block main %}
<div class="container-fluid">
    <div class="p-1">
        <a class="px-5 mx-5" style="text-decoration: none;" href=""
           onclick="show('divQuestion'); return false">&#160</a>
    </div>
</div>

{% load static %}
<h1 class="jungle-topic"
    style="background:url('{% static 'base/images/space_banner.png' %}'); background-position: bottom; background-size: 400px; background-repeat: no-repeat;">
    {{ question.question_category }}</h1>
{% if question.id == 1 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Kosmos">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-Kosmos'); return false; "><strong>A</strong>&#160 &#160 Kosmos</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Taikonomie">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Taikonomie'); return false"><strong>B</strong>&#160 &#160 Taikonomie</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Astrologie">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Astrologie'); return false"><strong>C</strong>&#160 &#160 Astrologie</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Milchstraße">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Milchstraße'); return false"><strong>D</strong>&#160 &#160 Milchstraße</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 4 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-1952">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-1952'); return false; "><strong>A</strong>&#160 &#160 1952</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-1969">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-1969'); return false"><strong>B</strong>&#160 &#160 1969</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-1975">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-1975'); return false"><strong>C</strong>&#160 &#160 1975</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-2001">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-2001'); return false"><strong>D</strong>&#160 &#160 2001</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 6 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-3.6">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-3.6'); return false; "><strong>A</strong>&#160 &#160 3</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-4.6">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-4.6'); return false"><strong>B</strong>&#160 &#160 4</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-5.6">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-5.6'); return false"><strong>C</strong>&#160 &#160 5</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-6.6">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-6.6'); return false"><strong>D</strong>&#160 &#160 6</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 9 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        {% for team in teams %}
        <div class="col">
            <div class="card bg-transparent text-center py-2">
                <div class="card-head justify-content-md-center">
                    <span class="dot" style="background-color: {{ team.color }};"></span>
                    <h4>{{ team.name }}</h4>
                </div>
                <div class="car-body justify-content-md-center">
                    <h1 id="counter{{ team.id }}">0</h1>
                    <button class="btn btn-outline-danger"
                            onclick="javascipt:countminus('counter{{ team.id }}'); return false;">-
                    </button>
                    <button class="btn btn-outline-success"
                            onclick="javascipt:countplus('counter{{ team.id }}'); return false;">+
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% elif question.id == 11 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <audio id="audio_with_controls" controls src="{% static 'base/audio/kangaru.mp3' %}">
        hr Browser kann dieses Tondokument nicht wiedergeben.
    </audio>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Giraffe">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Giraffe'); return false; "><strong>A</strong>&#160 &#160 Giraffe</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Löwe">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Löwe'); return false"><strong>B</strong>&#160 &#160 Löwe</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Kanguru">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-Kanguru'); return false"><strong>C</strong>&#160 &#160 Känguru</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Elefant">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Elefant'); return false"><strong>D</strong>&#160 &#160 Elefant</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 13 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Straus">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-Straus'); return false; "><strong>A</strong>&#160 &#160 Strauß</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Kaeenguru">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Kaeenguru'); return false"><strong>B</strong>&#160 &#160 Känguru</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Orangutan">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Orangutan'); return false"><strong>C</strong>&#160 &#160 Orangutan</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-Pinguin">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-Pinguin'); return false"><strong>D</strong>&#160 &#160 Pinguin</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 16 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-1">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-1'); return false; "><strong>A</strong>&#160 &#160 1</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-2">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-2'); return false"><strong>B</strong>&#160 &#160 2</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-3">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-3'); return false"><strong>C</strong>&#160 &#160 3</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-4">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-4'); return false"><strong>D</strong>&#160 &#160 4</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% elif question.id == 20 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        {% for team in teams %}
        <div class="col">
            <div class="card bg-transparent text-center py-2">
                <div class="card-head justify-content-md-center">
                    <span class="dot" style="background-color: {{ team.color }};"></span>
                    <h4>{{ team.name }}</h4>
                </div>
                <div class="car-body justify-content-md-center">
                    <h1 id="counter{{ team.id }}">0</h1>
                    <button class="btn btn-outline-danger"
                            onclick="javascipt:countminus('counter{{ team.id }}'); return false;">-
                    </button>
                    <button class="btn btn-outline-success"
                            onclick="javascipt:countplus('counter{{ team.id }}'); return false;">+
                    </button>
                </div>
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% elif question.id == 21 %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-45">
                <div class="car-body justify-content-md-center">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="javascipt:change_false('card-45'); return false;"><strong>A</strong>&#160 &#160 45</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-55">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-55'); return false"><strong>B</strong>&#160 &#160 55</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center my-3">
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-65">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_false('card-65'); return false"><strong>C</strong>&#160 &#160 65</a>
                    </h4>
                </div>
            </div>
        </div>
        <div class="col col-sm-4">
            <div class="card bg-transparent text-center py-2" id="card-75">
                <div class="car-body">
                    <h4>
                        <a style="text-decoration: none; color: white" href=""
                           onclick="change_true('card-75'); return false"><strong>D</strong>&#160 &#160 75</a>
                    </h4>
                </div>
            </div>
        </div>
    </div>
</div>
{% else %}
<div class="mt-5" style="display: none" id="divQuestion">
    <h2>{{ question.name }}</h2>
    <a class="px-5 mx-5" style="text-decoration: none;" href="" onclick="show('divSolution'); return false">&#160</a>
</div>
{% if question.solution != '' %}
<div class="mt-5" style="display: none" id="divSolution"><h2><strong>{{ question.solution }}</strong></h2></div>
{% else %}
<div style="display: none" id="divSolution"><h2>{{ question.solution }}</h2></div>
{% endif %}
{% endif %}
<footer class="text-center text-lg-start fixed-bottom">
    <div class="container-fluid">
        <div class="text-center p-3">
            <form method="POST">
                {% csrf_token %}
                <a class="btn btn-secondary" href="{% url 'home' %}">Zurück</a>
                {% for team in teams %}
                <button type="submit" name="{{ team.id }}" value="{{ id_number }}" class="btn"
                        style="background-color: {{ team.color }}">Punkte für {{ team.name }}
                </button>
                {% endfor %}
                <button type="submit" name="0" value="{{ id_number }}" class="btn btn-secondary">
                    Punkte für keinen
                </button>
            </form>
        </div>
    </div>
</footer>

<script>
    function countplus(id) {
        if (document.getElementById) {
            let counterHTML = document.getElementById(id);
            let count = parseInt(document.getElementById(id).innerHTML);
            count += 1;
            counterHTML.innerHTML = count;
        }
    }

    function countminus(id) {
        if (document.getElementById) {
            let counterHTML = document.getElementById(id);
            let count = parseInt(document.getElementById(id).innerHTML);
            count -= 1;
            counterHTML.innerHTML = count;
        }
    }

    function show(id) {
        if (document.getElementById) {
            var mydiv = document.getElementById(id);
            mydiv.style.display = (mydiv.style.display == 'block' ? 'none' : 'block');
        }
    }

    function change_true(id) {
        if (document.getElementById) {
            var mydiv = document.getElementById(id);
            mydiv.classList.toggle("bg-transparent");
            mydiv.classList.toggle("bg-success");
        }
    }

    function change_false(id) {
        if (document.getElementById) {
            var mydiv = document.getElementById(id);
            mydiv.classList.toggle("bg-transparent");
            mydiv.classList.toggle("bg-danger");
        }
    }
</script>
{% endblock %}